*
!/.gitignore
!/.gitattributes
!/config
!/config/**
!/defaultconfigs
!/defaultconfigs/**
!/scripts
!/README.md
!/Changelog.txt
*.bak
!/crlib
!/crlib/**

#specifics to ignore
**config/jecalculation/record.json
**config/oculus.properties
**config/packetfixer.properties
**config/xaerominimap_entities.json
**/config/fancymenu
**config/libraryferret_1.properties
**/config/NoChatReports
*/config/spawnbalanceutility
**/config/jecalculation
**config/betterfpsdist.json
**config/cucumber-tags.json
**config/immersive_melodies.json
**config/immersive_paintings.json
**/config/jei/world
*config/embeddium++.toml
*config/itemzoom-client.toml
config/fml.toml
config/embeddium-options.json
config/embeddium-fingerprint.json
config/chiselsandbits-common.toml
config/chiselsandbits-client.toml
config/quark-common.toml
journeymap/config/5.10/journeymap.minimap.config
config/openloader/data/CreateVillagersNOCREATIVERECIPES.zip
config/openloader/data/LessStructures-SpacingTweaks-1.20.1-2.1.56.zip
config/openloader/data/Origins_Expanded_Foods_v2.7.zip
config/openloader/data/WDA-NoFlyingStructures-1.18.2-1.19.2.zip
config/openloader/data/WDA-VanillaLoot-1.18.2-1.19.2-0.0.1.zip
config/chloride-client.json
