*
!/.gitignore
!/.gitattributes
!/config
!/defaultconfigs
!/roostultimate
!/scripts
!/README.md
*.bak

#specifics to ignore
**config/jecalculation/record.json
**config/oculus.properties
**config/packetfixer.properties
**config/xaerominimap_entities.json
**/config/fancymenu
**config/libraryferret_1.properties
**/config/NoChatReports
*/config/spawnbalanceutility
**/config/jecalculation
**config/betterfpsdist.json
**config/cucumber-tags.json
**config/immersive_melodies.json
**config/immersive_paintings.json
**/config/jei/world
*config/embeddium++.toml
*config/itemzoom-client.toml
config/fml.toml
config/embeddium-options.json
config/embeddium-fingerprint.json
config/chiselsandbits-common.toml
config/chiselsandbits-client.toml
config/jei/ingredient-list-mod-sort-order.ini
config/quark-common.toml
