*
!/.gitignore
!/.gitattributes
!/config
!/defaultconfigs
!/roostultimate
!/scripts
!/README.md
*.bak

#specifics to ignore
**config/jecalculation/record.json
**config/oculus.properties
**config/packetfixer.properties
**config/xaerominimap_entities.json
**/config/fancymenu
**config/libraryferret_1.properties
**/config/NoChatReports
**/config/spawnbalanceutility
**/config/jecalculation
**config/spawnbalanceutility/AllMobEntities.rpt
